version: '2'
services:
  nginx:
    container_name : nginx
    image: nginx:1.11.8
    depends_on:
     - ckan
    ports:
     - "80:80"
     - "443:443"
    volumes:
     - ./nginx/odp.conf:/etc/nginx/conf.d/default.conf
  ckan:
    container_name : ckan
    build: ./ckan/
    entrypoint: /docker-entrypoint.sh
    ports:
     - "8080:8080"
     - "5000:5000"
    volumes:
     - ./data/ckan_storage:/var/lib/ckan
    depends_on:
     - solr
    environment:
       POSTGRES_HOST: "${POSTGRES_HOST}"
       POSTGRES_PORT: "${POSTGRES_PORT}"
       POSTGRES_USER: "${POSTGRES_USER}"
       POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
       POSTGRES_DATASTORE_USER: "${POSTGRES_DATASTORE_USER}"
       POSTGRES_DATASTORE_PASSWORD: "${POSTGRES_DATASTORE_PASSWORD}"
       PGPASSWORD: "${POSTGRES_PASSWORD}"
       POSTGRES_CKAN_DBNAME: "${POSTGRES_CKAN_DBNAME}"
       POSTGRES_CKAN_DATASTORE_DBNAME: "${POSTGRES_CKAN_DATASTORE_DBNAME}"
       CKAN_SQLALCHEMY_URL: "postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_CKAN_DBNAME}"
       CKAN_DATASTORE_WRITE_URL: "postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_CKAN_DATASTORE_DBNAME}"
       CKAN_DATASTORE_READ_URL: "postgresql://${POSTGRES_DATASTORE_USER}:${POSTGRES_DATASTORE_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_CKAN_DATASTORE_DBNAME}"
       CKAN_SITE_URL: "${CKAN_SITE_URL}"
       CKAN_SITE_ID: "default"
       CKAN_STORAGE_PATH: "/var/lib/ckan"
       CKAN_DATAPUSHER_URL: "${CKAN_SITE_URL}:8000"
       CKAN_SOLR_URL: "http://solr:8983/solr/${POSTGRES_CKAN_DBNAME}"
       CKANEXT__CLOUDSTORAGE__DRIVER: "${CLOUDSTORAGE_DRIVER}"
       CKANEXT__CLOUDSTORAGE__CONTAINER_NAME: "${CLOUDSTORAGE_NAME}"
       CKANEXT__CLOUDSTORAGE__DRIVER_OPTIONS: "${CLOUDSTORAGE_OPTIONS}"       
       SOLR_URL: "http://solr:8983/solr/${POSTGRES_CKAN_DBNAME}"
  datapusher:
    container_name: ckan_datapusher
    build: ./datapusher/
    ports:
     - "8000:8000"
    depends_on:
     - ckan
    environment:
      SERVER_NAME: "${CKAN_SITE_URL}"
      CKAN_DATAPUSHER_URL: "${CKAN_SITE_URL}:8000"
      POSTGRES_HOST: "${POSTGRES_HOST}"
      POSTGRES_PORT: "${POSTGRES_PORT}"
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DATASTORE_USER: "${POSTGRES_DATASTORE_USER}"
      POSTGRES_DATASTORE_PASSWORD: "${POSTGRES_DATASTORE_PASSWORD}"
      PGPASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_CKAN_DBNAME: "${POSTGRES_CKAN_DBNAME}"
      POSTGRES_CKAN_DATASTORE_DBNAME: "${POSTGRES_CKAN_DATASTORE_DBNAME}"
      CKAN_SQLALCHEMY_URL: "postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_CKAN_DBNAME}"
      CKAN_DATASTORE_WRITE_URL: "postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_CKAN_DATASTORE_DBNAME}"
      CKAN_DATASTORE_READ_URL: "postgresql://${POSTGRES_DATASTORE_USER}:${POSTGRES_DATASTORE_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_CKAN_DATASTORE_DBNAME}"
      CKAN_SITE_URL: "${CKAN_SITE_URL}"
      CKAN_SITE_ID: "default"
      CKAN_STORAGE_PATH: "/var/lib/ckan"
      CKAN_DATAPUSHER_URL: "${CKAN_SITE_URL}:8000"
      CKAN_SOLR_URL: "http://solr:8983/solr/${POSTGRES_CKAN_DBNAME}"
      CKANEXT__CLOUDSTORAGE__DRIVER: "${CLOUDSTORAGE_DRIVER}"
      CKANEXT__CLOUDSTORAGE__CONTAINER_NAME: "${CLOUDSTORAGE_NAME}"
      CKANEXT__CLOUDSTORAGE__DRIVER_OPTIONS: "${CLOUDSTORAGE_OPTIONS}"       
      SOLR_URL: "http://solr:8983/solr/${POSTGRES_CKAN_DBNAME}"
  solr:
    container_name : solr
    image: ckan/solr:dev-v2.6
    ports:
     - "8983:8983"
